[SddmGreeterTheme]
Name=Material SDDM
Description=A playful, vibrant Material inspired SDDM theme built with Qt6.
Author=Blumenwagen
Copyright=(c) 2026
License=BSD 3-Clause
Type=sddm-theme
Version=1.0
MainScript=Main.qml
ConfigFile=theme.conf
Theme-Id=sddm-material
Theme-API=2.0
